<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/P1.jpg" class="d-block w-100 d-img" alt="P1">
        <div class="carousel-caption top-0 mt-5">
          <h2 class="cc display-1 mt-5"> La Casita</h2>
          <h1 class="cc display-1"> de </h1>
          <h4 class="cc display-2 text-capitalize"> Mamá Lala </h4>
          <a class="btn"><button class="btn px-2 py-2 fs-5 mt-4"> BIENVENIDOS</button></a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/P4.jpg" class="d-block w-100 d-img" alt="P2">
      </div>
      <div class="carousel-item">
        <img src="../assets/P2.png" class="d-block w-100 d-img" alt="P3">
      </div>
      <div class="carousel-item">
        <img src="../assets/P3.png" class="d-block w-100 d-img" alt="P4">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <!--<div class="container">
  <div class="row">
    <div class="ima col-6">
      <img src="../assets/Hist.jpg" class="img rounded mx-auto d-block">
    </div>
    <div class="col-6" style="margin: auto;">
      <p class="text-Star" id="His"> Nuestra pasión por la comida nos impulsa a ofrecer calidad excepcional y platos únicos.
        Además, somos expertos en café de alta calidad. Pero lo que nos distingue es nuestra constante innovación y nuestro compromiso con la satisfacción del cliente. 
        Cada visita es una experiencia culinaria en constante evolución, donde buscamos sorprender y deleitar a nuestros invitados en cada momento del día.</p>
    </div>
  </div>
</div>-->

