<!--<div class="container">
  <header clas="Nav" class="d-flex justify-content-center">
    <a class="navbar-brand" href="/home">
      <img src="../assets/LogoOficial.png" alt="" width="180" height="180">
    </a>
    <ul class="nav nav-pills" style="margin-top: 6%; margin-bottom: auto;">
      <li class="nav-item"><a href="#" class="nav-link fw-bold" aria-current="page">
        Sobre nosotros
      </a></li>
      <li class="nav-item"><a href="#" class="nav-link fw-bold">
        Reservaciones
      </a></li>
      <li class="nav-item"><a href="#" class="nav-link dropdown-toggle fw-bold" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
      </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/cheescake">CHEESCAKES</a></li>
          <li><a class="dropdown-item" href="/muffins">MUFFINS</a></li>
          <li><a class="dropdown-item" href="/pasteles">PASTELES</a></li>
          <li><a class="dropdown-item" href="/galletas">GALLETAS</a></li>
          <li><a class="dropdown-item" href="/aperitivos">APERITIVOS</a></li>
          <li><a class="dropdown-item" href="/bebidas">BEBIDAS</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="/horarios" class="nav-link fw-bold">
        Horarios
      </a></li>
      <li class="nav-item"><a href="#" class="nav-link fw-bold">
        Galería
      </a></li>
      <li class="nav-item"><a href="#" class="nav-link fw-bold">
        Contactos
      </a></li>
    </ul>
  </header>
  </div>-->

<header class="header">
  <div class="logo">
    <a class="nav-brand" href="/home">
    <img src="../assets/LogoOficial.png" alt="Logo de la marca">
    </a>
  </div>
        <nav>
           <ul class="nav-links">
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Galería</a></li>
                <li><a href="/cheescake">Menu</a></li>
                <li><a href="/horarios">Horario</a></li>
                <li><a href="#">Reservaciones</a></li>
           </ul>
        </nav>
        <a class="btn" href="/crearSu"><button>Sugerencias</button></a>
</header>

