.container-md{
    background-color: rgba(65, 65, 65, 0.120);
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 1%;
}
.col-3{
    margin-top: 2%;
}
.text-end{
    margin-top: 10%;
    color:black;
    font-size: 115%;
    font-weight: bold;
    font: center;
}

#boton{
    margin-top: 4%;
}
#separ{
    margin-right: 1%;
}
