<!--<div class="container-fluid">
        <div class="row">
        <div class="col-3">
                <i class="bi bi-envelope-at-fill" style="color: rgba(45, 112, 189, 0.904);"></i>
                        <a>
                        <span class="correo fs-6"> CasitaMamaLala@gmail.com </span>
                        </a>
                <div>
                <i class="bi bi-telephone-fill"></i>
                        <a>
                        <span class="correo fs-6"> + 52 916 108 9737</span>
                        </a>
                </div>-->
                <!--Aqui podemos insertar algo-->
        <!--</div>
        <div class="col-3">-->
                <!--Aqui podemos insertar algo-->
       <!--</div>
        <div class="col-3">-->
                <!--Aqui podemos insertar algo-->
        <!--</div>
        <div class="col-3">
                <p class="text">Redes Sociales</p>
                <a href="https://www.facebook.com/profile.php?id=61551212001714">
                <i class="bi bi-facebook ms-3" style="color: #3b5998;"></i>
                </a>
                <a href="https://wa.me/529161089737">
                <i class="bi bi-whatsapp ms-2" style="color: #128c7e;"></i>
                </a>
        </div>
        </div>
</div>-->

<div class="body__Page">
        <div class="cover"></div>
        <div class="container__article">
            <div class="box__article"></div>
            <div class="box__article"></div>
            <div class="box__article"></div>
            <div class="box__article"></div>
            <div class="box__article"></div>
            <div class="box__article"></div>
            <div class="box__article"></div>
            <div class="box__article"></div>
        </div>
    </div>

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="terms">
                    <div class="Logo">
                    <img src="../assets/LogoOficial.png" alt="Logo">
                    </div>
                    <h2>Contactos</h2>
                    <p><i class="fa-solid fa-envelope"></i> CasitaMamaLala@gmail.com</p>
                    <p><i class="fa-solid fa-phone"></i> +52 916 108 9737</p>
                </div>
            </div>
            <div class="box__footer">
                <h2></h2>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>

            <div class="box__footer">
                <h2></h2>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>              
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/profile.php?id=61551212001714"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://wa.me/529161089737"><i class="fab fa-brands fa-whatsapp"></i> Whatsapp</a>
            </div>

        </div>

        <!--<div class="box__copyright">
            <hr>
            <p><b></b></p>
        </div>-->
    </footer>