<!--<div class="container" style="background-color: rgba(0, 0, 255, 0.212);">
    <div class="row">
        <div class="CH col-3">
                <h2>CHEESCAKE</h2>
                <p> Deliciosa rebanada con una corteza perfectamente crujiente. Suavidad y sabor en cada bocado. ¡No te la pierdas! </p>
            </div>
        <div class="col-3">
            <img src="../assets/CHFrambuesa.jpg" class="d-block w-100">
          <p class="text-center" id="txt"> Frambuesa $45 </p>
        </div>
        <div class="col-3">
            <img src="../assets/CHTortuga.jpg" class="d-block w-100">
          <p class="text-center" id="txt"> Tortuga $45 </p>
        </div>
        <div class="col-3">
            <img src="../assets/CHLimon.jpg" class="d-block w-100">
          <p class="text-center" id="txt"> Limon $45 </p>
        </div>
    </div>
</div>-->

<!--<section class="section" id="productos">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4 text-center">
        <div class="section-heading">
            <h5>Klassy Week</h5>
            <h2> Nuestros Productos </h2>
        </div>
      </div>
    </div>

  </div>
</section>-->

<div class="container">
  <h3 class="title"> CHEESCAKE </h3>
  <div class="products-container">
     <div class="product" data-name="p-1">
        <img src="../assets/Frambuesa.jpg" alt="">
        <h3>Frambuesa</h3>
        <p> Rebanada con cobertura de frambuesa y una corteza crujiente.¡El postre perfecto te espera!</p>
        <div class="price">$45.00</div>
     </div>
     <div class="product" data-name="p-2">
        <img src="../assets/Limon.jpg" alt="">
        <h3>Limón</h3>
        <p> Rebanada con cobertura sabor a limón y una corteza crujiente.¡El postre perfecto te espera!</p>
        <div class="price">$45.00</div>
     </div>
     <div class="product" data-name="p-3">
        <img src="../assets/Tortuga.jpg" alt="">
        <h3>Tortuga</h3>
        <p> Rebanada con cobertura de cajeta y trocitos de nueces con chocolate. ¡El postre perfecto te espera!</p>
        <div class="price">$45.00</div>
     </div>
     <!--<div class="product" data-name="p-4">
        <img src="../assets/4.png" alt="">
        <h3>brinjal</h3>
        <div class="price">$2.00</div>
     </div>

     <div class="product" data-name="p-5">
        <img src="../assets/5.png" alt="">
        <h3>broccoli</h3>
        <div class="price">$2.00</div>
     </div>

     <div class="product" data-name="p-6">
        <img src="../assets/6.png" alt="">
        <h3>potatoes</h3>
        <div class="price">$2.00</div>
     </div>-->
  </div>
</div>

<div class="muffins">
  <app-muffins></app-muffins>
</div>
<div class="pasteles">
  <app-pasteles></app-pasteles>
</div>
<div class="galletas">
  <app-galletas></app-galletas>
</div>
<div class="bebidas">
  <app-bebidas></app-bebidas>
</div>
<div class="aperitivos">
  <app-aperitivos></app-aperitivos>
</div>

<div class ="footer">
  <app-footer></app-footer>
</div>
