<!--<div class="container" style="background-color: rgba(0, 0, 255, 0.212);">
    <div class="row">
        <div class="CH col-3">
                <h2>GALLETAS</h2>
            </div>
        <div class="col-3">
            <img src="../assets/GAMan.jpg" class="d-block w-100">
          <p class="text-center" id="txt"> Mantequilla $10 </p>
        </div>
        <div class="col-3">
            <img src="../assets/GACho.jpg" class="d-block w-100">
          <p class="text-center" id="txt"> Chocolate $10 </p>
        </div>
        <div class="col-3">
            <img src="../assets/GAMal.jpg" class="d-block w-100">
          <p class="text-center" id="txt"> Malvavisco $10 </p>
        </div>
        <div class="col-3">
          <p> Deléitate con la tentación en forma de galletas. Crujientes por fuera, suaves por dentro. ¡No podrás resistirte! </p>
        </div>
        <div class="col-3">
          <p class="text-center" id="txt"> </p>
        </div>
        <div class="col-3">
            <img src="../assets/GAChi.jpg" class="d-block w-100">
          <p class="text-center" id="txt"> Chispas de Chocolate $15 </p>
        </div>
        <div class="col-3">
          <p class="text-center" id="txt"> </p>
        </div>
    </div>
</div>-->

<div class="container">
  <h3 class="title"> GALLETAS </h3>
  <div class="products-container">
     <div class="product" data-name="p-1">
        <img src="../assets/Mantequilla.jpg" alt="">
        <h3>Mantequilla</h3>
        <p> Una galleta de sabor a mantequilla que te transportará a la nostalgia de los sabores caseros. </p>
        <div class="price">$10.00</div>
     </div>
     <div class="product" data-name="p-2">
        <img src="../assets/Chocolate.jpg" alt="">
        <h3>Chocolate</h3>
        <p> Una galleta de chocolate, con un centro suave y un exterior crujiente que se deshace en tu boca.</p>
        <div class="price">$10.00</div>
     </div>
     <div class="product" data-name="p-3">
        <img src="../assets/Chispas.jpg" alt="">
        <h3>Chispas de chocolate</h3>
        <p> Una galleta de chispas de chocolate que es una verdadera delicia para los amantes del chocolate.</p>
        <div class="price">$10.00</div>
     </div>
     <!--<div class="product" data-name="p-4">
        <img src="../assets/4.png" alt="">
        <h3>brinjal</h3>
        <div class="price">$2.00</div>
     </div>

     <div class="product" data-name="p-5">
        <img src="../assets/5.png" alt="">
        <h3>broccoli</h3>
        <div class="price">$2.00</div>
     </div>

     <div class="product" data-name="p-6">
        <img src="../assets/6.png" alt="">
        <h3>potatoes</h3>
        <div class="price">$2.00</div>
     </div>-->
  </div>
</div>