<div class="container-md">
  <div class="row">
    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233.84402332415007!2d-90.05634141092334!3d20.320772140005353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f87e1873d8e6f7%3A0x6aaea94a43ed8efd!2sC.%2020%20102%2C%20Zona%20Centro%2C%2024920%20Dzitbalch%C3%A9%2C%20Camp.!5e0!3m2!1ses!2smx!4v1695159973699!5m2!1ses!2smx" 
      width="420" height="400" style="margin-top: 2%; margin-bottom: 2%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    <div class="col-3">
      <p class="text-end"> L U N E S </p>
      <p class="text-end"> M A R T E S </p>
      <p class="text-end"> M I É R C O L E S </p>
      <p class="text-end"> J U E V E S </p>
      <p class="text-end"> V I E R N E S </p>
      <p class="text-end"> S Á B A D O </p>
      <p class="text-end"> D O M I N G O </p>
    </div>
    <div class="col" id="boton">
      <p>
      <button type="button" class="btn btn-success" id="separ">8:00 A.M - 12:00 P.M</button>
      <button type="button" class="btn btn-success" id="junt">19:00 P.M - 23:00 P.M</button>
    </p>
      <p>
        <button type="button" class="btn btn-danger d-grid gap-2 col-11">C E R R A D O</button>
      </p>
      <p>
        <button type="button" class="btn btn-danger d-grid gap-2 col-11">C E R R A D O</button>
      </p>
      <p>
        <button type="button" class="btn btn-success" id="separ">8:00 A.M - 12:00 P.M</button>
        <button type="button" class="btn btn-success" id="junt">19:00 P.M - 23:00 P.M</button>
      </p>
      <p>
        <button type="button" class="btn btn-success" id="separ">8:00 A.M - 12:00 P.M</button>
        <button type="button" class="btn btn-success" id="junt">19:00 P.M - 23:00 P.M</button>
      </p>
      <p>
        <button type="button" class="btn btn-success" id="separ">8:00 A.M - 12:00 P.M</button>
        <button type="button" class="btn btn-success" id="junt">19:00 P.M - 23:00 P.M</button>
      </p>
      <p>
        <button type="button" class="btn btn-success" id="separ">8:00 A.M - 12:00 P.M</button>
        <button type="button" class="btn btn-success" id="junt">19:00 P.M - 23:00 P.M</button>
      </p>
    </div>
  </div>
</div>

<div class ="footer">
  <app-footer></app-footer>
</div>